main {
    padding-top: 84px;
}

.search {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: $white;
    // text-align: center;
    // padding: 211px 0 124px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 18px;
    

    .title {
        margin: 0 0 8px;
        font-family: $base-font;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 52px;

        @include media ('<=320px') {
            font-size: 39px;
        }
    }

    .pseudo-title {
        font-family: $base-font;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 0.31em;
        margin-bottom: 48px;

        @include media ('<=320px') {
            font-size: 15px;
        }
    }

    

    .search-form {
        // width: 647px;
        height: 60px;
        background-color: $white;
        
        padding: 4px 5px;
        width: 100%;
        max-width: 647px;
        height: 60px;
        margin-bottom: 250px;

        

        input {
            border: none;
            height: 52px;
            width: calc(100% - 143px);
            font-family: $base-font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.2em;
            color: #999999;
        }

        .btn {
            width: 139px;
            height: 52px;
            background-color: $blue;
            border: none;
            text-transform: uppercase;
            color: $white;
            font-family: $secondary-font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.1em;

            .btn-icon {
                font-size: 16px;
                
            }

            .icon-search {
                vertical-align: bottom;
                margin-right: 12px;
            }
        }
    }

    .scroll {
        position: absolute;
        left: 50%;
        bottom: 123px;
        transform: translateX(-50%);
        text-align: center;


        .scroll-link {
            color: $white;
            display: block;
            margin: 0 auto;
            font-family: $base-font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            // text-align: center;
            letter-spacing: 0.2em;
            
    
        }
    
        .icon {
            font-size: 14px;
            
        }
    }

    
}

.why-choose {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: $white;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;

    .container {
        max-width: 1140px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;

    @include media ('>=1024px') {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding: 60px 14px;
    }

    .img {
        width: 85%;
        margin: 12px;

        @include media ('>=768px') {
            height: 220px;
            width: 350px;
        }

        @include media ('>=1024px') {
            // margin: 12px 0;
        }
    }


    .img-holder {
        grid-column: 1;
        grid-row: 1;

        @include media ('>=1024px') {
            grid-column: 4/span5;
            grid-row: 1;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }

    }

    .img-holder-2 {
        grid-column: 2;
        grid-row: 1;

        @include media ('>=1024px') {
            grid-column: 4/span5;
            grid-row: 2;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row-reverse;
        }
    }


    .text-holder {
        margin: 18px;
        grid-column: 1/span2;
        grid-row: 2;

        @include media ('>=1024px') {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 3;
            text-align: start;

        }

        p {

            @include media ('>=1024px') {
                width: 550px;
            }
            
        }

        .btn-holder {
            display: flex;
            justify-content: center;

            @include media ('>=1024px') {
                justify-content: left;
            }
            
        }
    }
    }
    

    
}

.steps {

    background-color: $background-color;
    padding: 60px;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    position: relative;

    .line-holder {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% -2%;
        width: 100%;
        max-width: 785px;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 55px;
        

        @include media ('<=768px') {
            display: none;
        }
    }

    .steps-item {
        text-align: center;
        margin-bottom: 60px;
        

        .icon {
            display: block;
            font-size: 64px;
            margin-bottom: 20px;
            transition: all ease-in-out 0.4s;

            :hover {
                color: black;
            }

        }

        .icon-search {
            color: $blue;
        }

        .icon-check-circle {
            color: #FF6363;
        }

        .icon-thumbs-up {
            color: #00A2FF;
        }
    }

    
    .steps-list {
        margin: 0;
        padding: 0;

        :last-child {
            margin-bottom: 0px;
        }

        @include media ('>=1024px') {
            max-width: 1140px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }
       
    }
}

.book-now {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 120px 18px;

    @include media ('>=768px') {
        padding: 120px 24px;
    }

   
    .container {
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;

        @include media ('>=1024px') {
            display: flex;
            flex-wrap: wrap;
            
        }
        
    }

    .card-holder {
        padding: 44px 32px;

        @include media ('>=1024px') {
            width: 550px;
            height: 372px;
            

        }

        span {
            margin-bottom: 16px;
            color: $white;
        }
    }

    .pseudo-title {
        display: block;
        font-family: $base-font;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.1em;
    }

    .card-title {
        font-family: $base-font;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        text-transform: uppercase;
    }

    .card-text {
        font-family: $base-font;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.1em;
        margin-bottom: 28px;
    }
}

.reverse {
    .container {
        @include media ('>=1024px') {
            flex-direction: row-reverse;
        }
    }
}


.what-say {
    text-align: center;
    color: $white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @include media ('>=1024px') {
        padding: 60px 32px 180px;
    }

    .section-title {
        padding-top: 60px;
        margin: 0 0 60px;
    }


    .grid-container {
        padding: 0px 18px 60px;
        max-width: 1140px;
        margin: 0 auto;
        

        @include media ('>=1024px') {
            display: grid;
            grid-template-columns: 35% 65%;
            
            
            padding: 0;
            
        }

        .text-holder {
            text-align: left;
            padding: 48px 60px;
            background-color: $background-color;

            @include media ('>=1024px') {
                max-height: 336px;
            }

            @include media ('<=320px') {
                padding: 20px 5px;
            }

            .hero-name {
                font-family: $base-font;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 28px;
                text-transform: uppercase;
                margin-bottom: 16px;
            }

            .icon-quote-left {
                color: $blue;
                font-size: 20px;
                vertical-align: super;
            }
        }

        .hero-text {
            font-family: $base-font;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.1em;
        }
    
    }

    .hero-name{
        display: block;
    }



    .img-holder {
        height: 336px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        
    }
}